header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    background-color: #3B4140;
    height: 75px;
    color:ivory;
    justify-content: space-between;
}

header h1 {
    margin: 10px 10px;
    font-size: 300%;
}

header nav {
    text-align: right;
    margin: 10px 10px;
}

header nav a {
    margin: 10px;
}

header nav a:link {
    color: ivory;
}

header nav a:visited {
    color: darkgray
}

#header-image {
    background-image: url(./images/header.JPG);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}

main {
    margin: 0px;
    background-color: ivory;
}

#about-me {
    display: flex;
    flex-direction: row;
}

#about-me h1 {
    width: 50px;
    border-right: 2px solid black;
    padding: 60px;
    text-align: center;
}

#about-me p {
    flex: 1 1 0;
    padding: 15px;
    width: 90%;
    align-content: center;
    justify-content: center;
    text-align: justify;
}

#work {
    display: flex;
    flex-flow: row wrap;
}

#work h1 {
    width: 50px;
    border-right: 2px solid black;
    padding: 60px;
    text-align: center;
}

#work article {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    flex: 1 1 0;
}

#work img {
    height: 200px;
    width: 300px;
    margin: 10px;
    flex: 0 0 0;
}