* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin: 10px 10px;
    font-size: 300%;
}

h2 {
    font-size: 175%;
    justify-self: right;
    width: 5%;
    border-right: 2px solid black;
    padding: 0px 50px;
}

h3 {
    padding: 10px 10px;
    font-size: 150%;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: #3B4140;
    height: 75px;
    color: ivory;
    justify-content: space-between;
}

header nav {
    text-align: right;
    margin: 10px 10px;
}

header nav a {
    margin: 10px;
}

header nav a:link {
    color: ivory;
}

header nav a:visited {
    color: darkgray
}


main {
    background-color: #DECFB6;
}

#header-image {
    background-image: url(./images/header1.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
}

#header-image img {
    max-height: 200px;
    max-width: 200px;
    padding-left: 30px;
}


#about-me {
    display: flex;
    flex-wrap: wrap;
}


#about-me p {
    flex: 1 1 0;
    padding: 15px;
    text-align: justify;
    font-size: 120%;
}

#work {
    display: flex;
    flex-wrap: wrap;
}

#work article {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 80%;
    padding: 15px;
    justify-content: space-around;
    align-content: space-around;
}

article a {
    background-size: cover;
    border: 2px solid black;
}

#large-project-1 {
    flex: 1 1 80%;
    background-image: url(./images/project-1.jpg);
    height: 400px;
    margin: 15px;
}

#small-project-2 {
    flex: 1 1 40%;
    background-image: url(./images/project-2.jpg);
    height: 200px;
    margin: 15px
}

#small-project-3 {
    flex: 1 1 40%;
    background-image: url(./images/project-3.png);
    height: 200px;
    margin: 15px
}

#small-project-4 {
    flex: 1 1 40%;
    background-image: url(./images/project-4.jpg);
    height: 200px;
    margin: 15px
}

#small-project-5 {
    flex: 1 1 40%;
    background-image: url(./images/project-5.jpg);
    height: 200px;
    margin: 15px
}


article a:hover {
    filter: saturate(.4);
    cursor: pointer;
    border: 2px solid lightgray;
}

.overlay {
    display: block;
    margin-top: 160px;
    background: rgb(255, 255, 240, .75);
    color: #3B4140;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
}

#overlay-large {
    display: block;
    margin-top: 360px;
    background: rgb(255, 255, 240, .75);
    color: #3B4140;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
}

#contact-me {
    display: flex;
    flex-wrap: wrap;
}

#contact-me nav {
    flex: 1 1 0;
    padding: 15px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    align-content: center;
    padding: 0px 50px;
}

footer {
    background-color: #3B4140;
    color: ivory;
    text-align: center;
    padding: 10px;
}

footer p {
    text-align: center;
    font-size: 75%;
    color: ivory;
}


/* FOR TABLETS/MEDIUM DEVICES */

@media (max-width: 992px) {

    h1 {
        margin: 0;
    }
    
    h2 {
        text-align: center;
        width: 100%;
        padding: 10px;
        border: none;
    }

    header {
        display: block;
        text-align: center;
        height: 100px;
    }
    
    header nav {
        text-align: center;
        margin-bottom: 10px;
    }

    #header-image {
        justify-content: center;
        align-content: center;
        height: 150px;
        margin-bottom: 50px;
    }

    #header-image img {
        max-height: 125px;
        max-width: 125px;
        position: relative;
        bottom: -50%;
    }

    #work {
        flex-direction: column;
        width: 100%;
    }

    #work article {
        display: flex;
        flex-flow: row wrap;
        flex: 1 1 100%;
        padding: 15px;
        justify-content: space-around;
        align-content: space-around;
    }
    
    #large-project-1 {
        flex: 1 1 100%;
        background-image: url(./images/project-1.jpg);
        height: 200px;
        margin: 15px
    }

    #overlay-large {
        display: block;
        margin-top: 170px;
        background: rgb(255, 255, 240, .75);
        color: #3B4140;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 150%;
    }
}

/* FOR SMALL PHONES/DEVICES */

@media (max-width: 576px) {

    #header-image {
        justify-content: center;
        align-content: center;
        height: 100px;
        width: 100%;
        margin-bottom: 20px;
    }

    #header-image img {
        max-height: 100px;
        max-width: 100px;
        position: relative;
        bottom: -50%;
    }

    #work {
        flex-direction: column;
        width: 100%;
    }

    #work article {
        display: flex;
        flex-flow: row wrap;
        flex: 1 1 100%;
        padding: 15px;
        justify-content: space-around;
        align-content: space-around;
    }
    

    #small-project-2 {
        flex: 1 1 100%;
        background-image: url(./images/project-2.jpg);
        height: 200px;
        margin: 15px
    }
    
    #small-project-3 {
        flex: 1 1 100%;
        background-image: url(./images/project-3.jpg);
        height: 200px;
        margin: 15px
    }
    
    #small-project-4 {
        flex: 1 1 100%;
        background-image: url(./images/project-4.jpg);
        height: 200px;
        margin: 15px
    }
    
    #small-project-5 {
        flex: 1 1 100%;
        background-image: url(./images/project-5.jpg);
        height: 200px;
        margin: 15px
    }

    #contact-me {
        display: inline;
        text-align: center;
    }

    #contact-me h2 {
        text-align: center;
        display: block;
        margin-bottom: 25px;
        border-right: 2px solid black;
        padding: 0px
    }
    
    #contact-me nav {
        text-align: center;
        display: block;
        line-height: 1.25;

}