h1 {
    margin: 10px 10px;
    font-size: 300%;
}

/* ??Why isn't this text aligning right?? */
h2 {
    font-size: 200%;
    text-align: right;
    width: 5%;
    border-right: 2px solid black;
    padding: 0px 50px;
}

h3 {
    padding: 10px 10px;
    font-size: 150%;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: #3B4140;
    height: 75px;
    color: ivory;
    justify-content: space-between;
}

    header nav {
        text-align: right;
        margin: 10px 10px;
    }

    header nav a {
        margin: 10px;
    }

    header nav a:link {
        color: ivory;
    }

    header nav a:visited {
        color: darkgray
    }


main {
    background-color: #BBD7E5;
}

#header-image {
    background-image: url(./images/header.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
}

#header-image img {
    max-height: 200px;
    max-width: 200px;
    padding-left: 30px;
}

/* about me section: flex container */

#about-me {
    display: flex;
    flex-wrap: wrap;
}


    #about-me p {
        flex: 1 1 0;
        padding: 15px;
        text-align: justify;
    }

#work {
    display: flex;
    flex-wrap: wrap;
}

    #work article {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 80%;
    }

        .project-thumbnail {
            margin: 10px;
            flex: 0 0 50%;
            border: 2px solid #3B4140;
        }

        #work img:hover {
            filter: saturate(.4);
            border: 2px solid #3b414066;
            cursor: pointer;
        }

#contact-me {
    display: flex;
    flex-wrap: wrap;
}

    #contact-me article {
        flex: 1 1 0;
        padding: 15px;
        text-align: justify;

        /* items below here apply to p children */
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-around;
        align-content: center;
        padding: 0px 50px;
    }

footer {
    background-color: #3B4140;
    color: ivory;
    text-align: center;
    padding: 10px;
}

footer p {
    text-align: center;
    font-size: 75%;
    color: ivory;
}